::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ddd;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}


.logo {
    border-radius: 10em;
    float: left;
    display: inline;
    margin: 0;
    width: 5%;
    margin-left: 1%;
    margin-top: 1%;
}


nav {
    z-index: 10;
    margin: 0.25em;
    position: sticky;
    position: -webkit-sticky;
    top: 1%;
    background-color: rgba(150, 25, 0, 0.95);
    padding: 0;
    border-radius: 0.5em;
    border-color: rgba(0, 0, 255, 0.5);
}


@media (orientation: portrait) {
    .top-bar {
        height: 8em;
    }
    .logo {
        height: 6em;
        width: 6em;
    }
    nav li a {
        font-size: 1.5em;
    }
}

@media (orientation: landscape) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@media (orientation: portrait) {

    nav ul {
        display: flex;
        float: right;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;

    }
}

  nav > a {

    text-decoration: none;
    text-align: center;
    padding: .5em 1em;
}

nav li a {
    display: inline;
    text-decoration: none;
    padding: .5em 1em;
    text-align: left;
    border-left: 5px #00a;
    border-right: 5px #00a;
}

nav li a:hover {
    position: relative;
    z-index: 10;
    display: inline;
    color: hsl(290, 100%, 50%);
    border-radius: 1em;
    background-color: hsl(240, 100%, 95%);
    border-left:5px #00e;
    border-right:5px #00e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition-duration: 0.2s;
}

@media (orientation: landscape) {
    .flex {
        position: absolute;
        z-index: 0;
        margin-top: 3%;
        display: flex;
        flex-wrap: wrap;

    }
}


@media (orientation: portrait) {
    .flex {
        position: absolute;
        z-index: 0;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
 }
  
 nav li a:hover {
	position: relative;
	z-index: 10;
	display: inline;
	color: hsl(290, 100%, 50%);
	border-radius: 1em;
	background-color: hsl(240, 100%, 95%);
	border-left:5px #00e;
	border-right:5px #00e;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition-duration: 0.2s;
  }
  
 @media (orientation: landscape) {
.flex {
	position: absolute;
	z-index: 0;
	margin-top: 3%;
	display: flex;
	flex-wrap: wrap;

}
 }
 
  
 @media (orientation: portrait) {
.flex {
	position: absolute;
	z-index: 0;
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}
 }
 
section {
    margin: 0.5em;
    padding: 0.5em;
}


@media (orientation: landscape) {
    .options {
        height: 32em;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        float: left;
        border-radius: 0.1em;
        border-right: 1px solid black;
        position: relative;
        flex: 1;
        overflow: scroll;
        border-left: 0px;
    }
}
.bbox {
    border-radius: 1em;
    background-clip: padding-box;
    text-align: center;
}

.bbuton {
    position: relative;
    display: block;
    font-size: 1em;
    border: 2px solid #06D85F;
    border-radius: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-align: center;
    float: right;
}

.bbutton:hover {
    background: hsl(240, 100%, 95%);
}

.overlay {
    visibility: hidden;
    position: fixed;
    top:10%;
    left:0;
    z-index: -1;
    width:100%;
    height: 90%;
    background: rgba(25, 25, 25, 0.8);
    transition: opacity 500ms;
    opacity: 0;
}

.overlay:target {
    z-index: 5;
    visibility:visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 56%;
    height: 70%;
    background: rgba(240, 240, 240, 1);
    position: relative;
    transition: all 2s ease-in-out;
    text-align: center;
}

.popup h5 {
    left: 5%;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 1%;
    right: 1%;
    transition: all 200ms;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: hsl(240, 100%, 95%);
}
.popup .gridcontainer {
    display: grid;
	padding: 10px;
}

.popup .gridcontainer .item {
	text-align: left;
	padding: 10px;
	background-color: rgba(111,41,97,.3);
	border: 2px solid rgba(111,41,97,.5);
}

.popup .buttondown {
    position: absolute;
    display: block;
    font-size: 1em;
    padding: 3px;
    border: 2px solid #CCC;
    border-radius: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-align: center;
    right: 2%;
    bottom: 2%;
}

.popup .buttondown:hover {
    background: hsl(240, 100%, 95%);
}

@media screen and (max-width: 700px){
    .bbox{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.hideO {
    visibility: visible;
    opacity: 1;
}

#dropD {
    display: none;
    margin-top: 2em;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 1em;
    padding-left: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    margin-top: 0.5em;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7.5px;
    left: 7.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.mainContent {
    height: 32em;
    flex: 2;
    overflow: scroll;
}
 @media (orientation: landscape) {
.options {
	height: 32em;
	position: sticky;
    position: -webkit-sticky;
	top: 0;
	float: left;
	border-radius: 0.1em;
	border-right: 1px solid black;
	position: relative;
	flex: 1;
	overflow: scroll;
	border-left: 0px;
}
 }
.bbox {
	border-radius: 1em;
	background-clip: padding-box;
	text-align: center;
}

.bbuton {
	position: relative;
	display: block;
	font-size: 1em;
	border: 2px solid #06D85F;
	border-radius: 1em;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	text-align: center;
	float: right;
}

.bbutton:hover {
	background: hsl(240, 100%, 95%);
}

.overlay {
	visibility: hidden;
	position: fixed;
	top:10%;
	left:0;
	z-index: -1;
	width:100%;
	height: 90%;
	background: rgba(25, 25, 25, 0.8);
	transition: opacity 500ms;	
	opacity: 0;
	}

.overlay:target {
	z-index: 5;
	visibility:visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 56%;
	height: 70%;
	background: rgba(240, 240, 240, 1);
	position: relative;
	transition: all 2s ease-in-out;
	text-align: center;
  }

.popup h5 {
	left: 5%;
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 1%;
	right: 1%;
	transition: all 200ms;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: hsl(240, 100%, 95%);
}
.popup .content {
	text-align: center;
	display: block;
	max-height: 30%;
	overflow: auto;
}

.popup .buttondown {
	position: absolute;
	display: block;
	font-size: 1em;
	padding: 3px;
	border: 2px solid #CCC;
	border-radius: 1em;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	text-align: center;
	float: right;
	right: 1%;
	bottom: 1%;
}

.popup .buttondown:hover {
	background: hsl(240, 100%, 95%);
}

@media screen and (max-width: 700px){
	.bbox{
		width: 70%;
  }
	.popup{
		width: 70%;
  }
}

.hideO {
	visibility: visible;
	opacity: 1;
}

#dropD {
	display: none;
	margin-top: 2em;
}

.container {
  display: block;
  position: relative;
  margin-bottom: 1em;
  padding-left: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  margin-top: 0.5em;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 7.5px;
	left: 7.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.date1 {
	display: block;
	margin: 2px;
}

.date {
	border-radius: 3px;
	float: right;
	text-align: center;
}

.mainContent {
	height: 32em;
	flex: 2;
	overflow: scroll;
}


@media (orientation: portrait) {
.mainContent {
	border-top: 2px solid black;
	border-bottom: 2px solid black;	
	}
}


@media (orientation: portrait) {
    .mainContent {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
}

#photo-container{
display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	width: 65%;
	margin-left: 20%;
}
#photo-container img{
	display: block;
	width: 100%;
	float: left;
	transition: transform .2s;
}

#photo-container:hover img{
    opacity:0.5;
}
.photo-wrapper{
    display:inline-block;
    position:relative;
    cursor:pointer;
}
.photo-wrapper p{
    display: block;
    position:absolute;
    opacity:0;
    text-align:center;
    width:174%;
    top: 100%;
    left: -50%;
    font-size:15px;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    transition:1s;
    z-index: 3;
    margin: auto;
    overflow: hidden;
}
.photo-wrapper img {
    display: block;
    width: 100%;
    float: left;
    -webkit-transition:opacity 0.26s ease-out;
    -moz-transition:opacity 0.26s ease-out;
    -o-transition:opacity 0.26s ease-out;
    transition:opacity 0.26s ease-out;

}
#photo-container:hover .photo-wrapper:hover img{
    opacity:1;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    z-index:2;
    position:relative;
    transition:500ms;
}
.photo-wrapper:hover p{
    opacity: 1;
}
#export p{
    font-size: 15px;
    display: inline-block;
}

#export p{
    font-size: 15px;
    display: inline-block;
}
#export{
	display: flex;
	padding: 5%;
    flex-direction: row;
    margin-top: 15%;
}
#export button{
	background-color: rgba(150, 25, 0, 0.95);
	border: none;
	color: white;
	padding: 6px 6px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin: auto;
    float:left;
    border-radius: 50%;
    display: inline-block;
}

#export select{
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;

}

@media (orientation: landscape) {
.rightSide {
	height: 32em;
	flex: 1;
	border-radius: 0.1em;
	border-left: 1px solid black;
	border-right: 0px;
	position: relative;
	float: right;
	overflow: scroll;
	display: -webkit-scrollbar;
	}
}	

.buyitem img{
	display: block;
	margin: auto;
}
.buyitem button{
	background-color: rgba(150, 25, 0, 0.95);
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: auto;
}
.buyitem{
	padding-top: 5%;
}

.mapouter{position:absolute;text-align:right;height:85%;width:90%;}
.lic{position:absolute;z-index:999;bottom:-14px;right:0;font-size:11px;font-family: Arial;color:#666;}
.gmap_canvas {overflow:hidden;background:none!important;height:85%;width:90%;}